/* Reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Common */

main {
    margin-top: 45px;
}

.container {
    width: 71%;
    margin: 0 auto;
}

.white-text {
    color: white;
}

/* header */
header {
    background-color: #ff6900 ;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

header img {
    width: 150px;
    height: 35px;
}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav span {
    word-spacing: 10px;
}

/* main */
main .container {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    border-radius: 15px;
    margin-top: 45.5px;
    width: calc(100% / 3.2);
    height: 550px ;
    background-color: lightgray;
}



/* footer */